<div class="container" data-ng-controller="cardsCtrl as cCtrl">


	<div class="card" data-ng-if="cCtrl.list === 1">
		<div class="listview lv-bordered lv-lg">
			<div class="lv-header-alt clearfix">
				<h2 class="lvh-label hidden-xs">Some text here</h2>

				<div class="lvh-search" data-ng-if="mactrl.listviewSearchStat" data-ng-click="mactrl.listviewSearchStat;">
					<input type="text" placeholder="Start typing..." class="lvhs-input" ng-model="cCtrl.filter" ng-change="cCtrl.changeModel()"> <i class="lvh-search-close"
						data-ng-click="mactrl.listviewSearchStat = false; cCtrl.showPagination = true; cCtrl.emptySearch();">&times;</i>
				</div>

				<ul class="lv-actions actions">
					<li><button data-ng-click="cCtrl.initAdd()" class="btn btn-danger btn-icon waves-effect waves-circle">
							<i class="zmdi zmdi-plus"></i>
						</button>
					</li>
					<li>
						<button class="btn bgm-teal btn-icon" data-ng-click="cCtrl.refresh()" >
							<i class="zmdi zmdi-refresh"></i>
						</button>
					</li>
					<li>
						<button class="btn btn-info btn-icon" data-ng-click="mactrl.listviewSearchStat = true; cCtrl.showPagination = false;">
							<i class="zmdi zmdi-search"></i>
						</button>
					</li>
					<li><a href=""> <i class="zmdi zmdi-time"></i>
					</a></li>
					<li class="dropdown" dropdown><a href="" dropdown-toggle aria-expanded="true"> <i class="zmdi zmdi-sort"></i>
						</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="" data-ng-click="cCtrl.changeOrder('createdAt')">Created at</a></li>
								<li><a href="" data-ng-click="cCtrl.changeOrder('updatedAt')">Updated at</a></li>
								<li><a href="" data-ng-click="cCtrl.changeOrder('title')">Title</a></li>
								<li><a href="" data-ng-click="cCtrl.changeOrder('stage')">Stage</a></li>
							</ul></li>
						<li><a href=""> <i class="zmdi zmdi-info"></i>
						</a>
					</li>
				</ul>
			</div>

			<div class="lv-body">
				<div class="repeater" style="display: block" ng-repeat="card in cCtrl.cards = (cCtrl.getInteratorList() | filter:cCtrl.search) | orderBy: cCtrl.order track by $index">
				    <div class="col-sm-4">
				    	<div class="media-body">
							<div class="card">
					            <div ng-class="cCtrl.getDiffInHours(card.nextRevision) < 24  ? 'card-header bgm-teal' : 'card-header bgm-bluegray'">
					                <h2>Title: <small>{{card.title}}</small></h2>
					            </div>
					
					            <div class="card-body card-padding">
					            	<div class="form-group fg-float m-b-30">
					                    <div class="fg-line fg-toggled">
					                        <input type="text" class="form-control input-sm" disabled="true" value="{{card.stage}}">
					                        <label class="fg-label">Stage</label>
					                    </div>
					                </div>
					                <div class="form-group fg-float m-b-30">
					            		<div class="fg-line fg-toggled">
					                        <input type="text" class="form-control input-sm" disabled="true" value="{{card.nextRevision | date:'dd/MM/yyyy'}}">
					                        <label class="fg-label">Next Revision</label>
					                    </div>		
					                </div>
					                <div class="card-body card-padding">
	                					<p>{{card.text | limitTo:cCtrl.numLimit}}</p>
	            						<a class="lv-footer" href="" data-ng-click="cCtrl.viewAll()">{{cCtrl.expand}}</a>	
	            					</div>		
					                <button ng-class="cCtrl.getDiffInHours(card.nextRevision) < 24  ? 'btn btn-info bgm-teal' : 'btn btn-info bgm-bluegray'" ng-click="cCtrl.done(card.objectId)" ng-disabled="card.stage>=5 || !(cCtrl.getDiffInHours(card.nextRevision) < 24) ">Done</button>
					                <button class="btn btn-link" ng-click="cCtrl.initEdit(card.objectId)">Edit</button>
					            </div>
				        	</div>
				        </div>
					</div>
				</div>
			</div>
		</div>

		<div class="lv-pagination pagination-cards-list">
			<pagination ng-show="cCtrl.showPagination" total-items="cCtrl.totalItems" ng-model="cCtrl.currentPage" items-per-page="cCtrl.itemsPerPage" ng-change="cCtrl.pageChanged()" boundary-links="false" num-pages="cCtrl.numPages" max-size="cCtrl.maxSize"></pagination>
		</div>
	</div>

	<div class="card" data-ng-if="cCtrl.add === 1 || cCtrl.edit === 1">
		<div class="card-header">
			<h2>
				Basic Example <small>Individual form controls automatically receive some global styling. All textual 'input',
					'textarea', and 'select' elements with .form-control are set to width: 100%; by default. Wrap labels and controls in
					.form-group for optimum spacing. </small>
			</h2>
		</div>

		<div class="card-body card-padding">
			<form role="form" ng-submit="cCtrl.save()">

				<input type="hidden" id="exampleInputHidden" ng-model="cCtrl.card.objectId" ng-hidden>
				<div class="form-group fg-line">
					<label for="exampleInputEmail1">Title</label> 
					<input type="text" class="form-control input-sm"
						id="inputText" placeholder="Enter title" ng-model="cCtrl.card.title" data-ng-if="cCtrl.edit === 1 || cCtrl.add === 1"> 
				</div>
				<div class="form-group fg-line">
					<label for="exampleInputEmail1">Text</label> <input type="text" class="form-control input-sm" id="inputText"
						placeholder="Enter text" ng-model="cCtrl.card.text">
				</div>
				<button type="submit" class="btn btn-primary btn-sm m-t-10">Save</button>
				<button type="button" class="btn btn-primary btn-sm m-t-10" data-ng-click="cCtrl.back()">Cancel</button>
			</form>
		</div>
	</div>

</div>


