<div class="container" data-ng-controller="userProfileCtrl as pctrl">
    <div class="block-header">
        <h2>{{pctrl.user.firstName}}<small>{{pctrl.user.email}}</small></h2>
    </div>

    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <a href="">
                        <img class="img-responsive" ng-show="pctrl.user.profileImage" ng-src="{{pctrl.user.profileImage}}" alt="" id="userImage">
						<img class="img-responsive" ng-show="!pctrl.user.profileImage" src="resources/img/profile-pics/default-profile.png" alt="" id="userImage">
                    </a>
                    
                    <a href="" class="pmop-edit" data-ng-click="pctrl.importImage()">
					  <i class="zmdi zmdi-camera"></i> <span class="hidden-xs"> Update Profile Picture</span>
					</a>
					        
			        <div ng-show="false">
			       		<input type="file" img-import id="inputFile" accept="image/*" name="inputFile" />
			       </div>
                </div>
            </div>

            <div class="pmo-block pmo-contact hidden-xs">
                <h2>Contact</h2>
                <ul>
                    <li><i class="zmdi zmdi-email"></i> {{ pctrl.user.email }}</li>
                </ul>
            </div>
        </div>

        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified" data-ng-include="'views/user-profile-menu.html'"></ul>

            <data ui-view></data>
        </div>
    </div>
</div>
