<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Information</h2>

        <ul class="actions" data-ng-if="pctrl.editInfo === 0">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="pctrl.editInfo = 1" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="pctrl.editInfo === 0">
            <dl class="dl-horizontal">
                <dt>First Name</dt>
                <dd>{{ pctrl.user.firstName }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Last Name</dt>
                <dd>{{ pctrl.user.lastName }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Gender</dt>
                <dd>{{ pctrl.user.gender }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Birthday</dt>
                <dd>{{ pctrl.user.birthday | date: "dd/MM/yyyy"}}</dd>
            </dl>
           
        </div>

        <form data-ng-submit="pctrl.submit('profileInfo', 'Profile Information')" class="pmbb-edit" data-ng-if="pctrl.editInfo === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">First Name</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pctrl.user.firstName" type="text" class="form-control" value="{{ pctrl.user.firstName }}" placeholder="eg. Mallinda">
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Last Name</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pctrl.user.lastName" type="text" class="form-control" value="{{ pctrl.user.firstName }}" placeholder="eg. Hollaway">
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Gender</dt>
                <dd>
                    <div class="fg-line">
                        <select class="form-control" data-ng-model="pctrl.user.gender">
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Birthday</dt>
                <dd>
                    <div class="dtp-container dropdown fg-line">
                        <input type='date' data-ng-model="pctrl.user.birthday" class="form-control" data-dt-picker="DD/MM/YYYY" uib-dropdown-toggle>
                    </div>
                </dd>
            </dl>
            
            <div class="m-t-30">
                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                <button class="btn btn-link btn-sm" data-ng-click="pctrl.editInfo = 0" >Cancel</button>
            </div>
        </form>
    </div>
</div>


<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-phone m-r-5"></i> Contact Information</h2>

        <ul class="actions" data-ng-if="pctrl.editContact === 0">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a data-ng-click="pctrl.editContact = 1" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="pctrl.editContact === 0">
            <dl class="dl-horizontal">
                <dt>Mobile Phone</dt>
                <dd>{{ pctrl.user.mobileNumber }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Email Address</dt>
                <dd>{{ pctrl.user.email }}</dd>
            </dl>
        </div>

        <form data-ng-submit="pctrl.submit('profileContact', 'Profile Contact Information')" class="pmbb-edit" data-ng-if="pctrl.editContact === 1">
            <dl class="dl-horizontal">
                <dt class="p-t-10">Mobile Phone</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pctrl.user.mobileNumber" type="text" class="form-control" placeholder="eg. 999999999">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt class="p-t-10">Email Address</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="pctrl.user.email" type="email" class="form-control" placeholder="eg. xxx@yyy.com">
                    </div>
                </dd>
            </dl>
            <div class="m-t-30">
                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                <button class="btn btn-link btn-sm" data-ng-click="pctrl.editContact = 0" >Cancel</button>
            </div>
        </form>
    </div>
</div>
