<?xml version="1.0" encoding="utf-8"?>
<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!-- [START Objectify] -->
    <filter>
      <filter-name>ObjectifyFilter</filter-name>
      <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>ObjectifyFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
      <listener-class>com.teste.OfyHelper</listener-class>
    </listener>
<!-- [END Objectify] -->

<!-- [START Spring] -->
	<servlet>
	    <servlet-name>dispatcher</servlet-name>
	    <servlet-class>
	        org.springframework.web.servlet.DispatcherServlet
	    </servlet-class>
	    <init-param>
	        <param-name>contextConfigLocation</param-name>
	        <param-value>/WEB-INF/spring-servlet.xml</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	 </servlet>
	 
	 <servlet-mapping>
	    <servlet-name>dispatcher</servlet-name>
	    <url-pattern>/</url-pattern>
	 </servlet-mapping>
	 
	 
	 
	 <!-- [Spring Security] -->
	 <context-param>
	     <param-name>contextClass</param-name>
	     <param-value>
	         org.springframework.web.context.support.AnnotationConfigWebApplicationContext
	     </param-value>
	 </context-param>
	 
	 <context-param>
	     <param-name>contextConfigLocation</param-name>
	     <param-value>
	         com.websystique.springmvc.security.StatelessAuthenticationSecurityConfig
	     </param-value>
	 </context-param>
	 
	 <filter>
	     <filter-name>springSecurityFilterChain</filter-name>
	     <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	 </filter>
	 
	 <filter-mapping>
	     <filter-name>springSecurityFilterChain</filter-name>
	     <url-pattern>/*</url-pattern>
	     <dispatcher>REQUEST</dispatcher>
	 </filter-mapping>
	 
	 <listener>
	     <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	 </listener>
	 
<!-- [END Spring] -->

	<filter>
		<filter-name>CORSFilter</filter-name>
		<filter-class>com.websystique.springmvc.configuration.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>
